* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* Intestazione */
nav {
    height: 7vh;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: white;
    border-bottom: solid 1px hsl(225deg 5% 84%);
}

nav img {
    float: left;
    padding: 15px 20px 10px 20px;
}

#nav-left {
    float: left;
    padding: 15px 20px 10px 20px;
}

#nav-right {
    float: right;
    padding: 15px 20px 10px 20px;
}

.nav-button {
    border: none;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

.button-blue {
    border: none;
    background-color: hsl(218deg 100% 50%);
    color: white;
    padding: 7px 18px 7px 18px;
    cursor: pointer;
}

header {
    height: 70vh;
    background-color: hsl(207deg 52% 81%);
    margin-top: 4vw;
}

header h1 {
    font-size: 75px;
    padding-top: 60px;
    padding-left: 100px;
    padding-right: 100px;
    
}

header div {
    width: 30vw;
    padding-top: 30px;
    padding-left: 100px;
    display: inline-block;
}

.header-button-blue {
    border: none;
    background-color: hsl(218deg 100% 50%);
    color: white;
    padding: 7px 18px 7px 18px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 100px;
}

.header-button {
    border: none;
    background-color: hsl(207deg 52% 81%);
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 80px;
}

header i {
    padding-left: 100px;
    padding-top: 20px;
    font-size: 40px;
}

header img {
    height: 450px;
    width: 800px;
    float: right;
    margin-right: 180px;
    margin-top: 20px;
}
/* /Intestazione */

/* Corpo della pagina */
/* Colonne verticali */
#clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

#clearfix {
    float: left;
    margin-top: 250px;
    margin-left: 15%;
}

section h1 {
    width: 80vw;
    font-size: 40px;
    
}

section input {
    margin-top: 70px;
}

section label {
    padding-top: 70px;
    padding-right: 10px;
}

.colums-tariff {
    display: inline-block;
    width: calc(62.6% / 3);
    height: 800px;
    margin-top: 40px;
    margin-right: 3.4%;
    border: solid 1px;
}

.header-colums {
    padding: 10px;
    border-bottom: solid 1px;
    text-align: center;
}

.colums-font-grey {
    color: grey;
}

.container-colums {
    padding-top: 30px;
    padding-left: 20px;
}

.container-colums div { 
    padding-top: 10px;
    padding-bottom: 10px;
}

.container-colums .button-blue {
    margin-top: 10px;
}

.acquista-ora {
    display: inline-block;
    border-bottom: solid 1px grey;
}

.container-colums a {
    color: hsl(218deg 100% 50%);
}

.container-colums li {
    list-style-type: none;
    padding-top: 20px;
}

.container-colums ul i {
    color: hsl(218deg 100% 50%);
}
/* /Colonne verticali */

/* Colonna orizzonatale */
.colums-o {
    display: inline-block;
    width: 70vw;
    height: 250px;
    margin-top: 40px;
    margin-right: 60px;
    border: solid 1px;
   
}

.header-colums-o {
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: solid 1px;
    text-align: center;
}

.colums-o h2 {
    display: inline;
    margin: 20px;  
}

.colums-o h3 {
    margin: 20px; 
}

.colums-o button {
    float: right;
    margin: 10px;
}

.colums-o div:last-child {
    margin: 20px;
}
/* /Colonna orizzonatale */

#img-partner {
    float: left;
    height: 520px;
    width: 650px;
    margin-top: 150px;
}

#testo-partner {
    display: inline-block;
    width: 400px;
    height: 300px;
    padding-top: 170px;
    padding-left: 40px;
    padding-bottom: 600px;
}

#testo-partner button {
    font-size: 15px;
    padding: 7px 18px 7px 18px;
    background-color: white;
    cursor: pointer;
    border: solid 1px black;
    margin-top: 20px;
}

/* Blocchi */
#container-blocchi {
    width: 80vw;
}
.blocchi {
    display: inline-block;
    height: 300px;
    width: calc(77% / 3);
    padding-top: 50px;
    margin-right: 80px;
}

.blocchi h2 {
    margin-bottom: 15px;
}

.blocchi img{
    height: 300px;
    width: 320px;
    object-fit: cover;
}
/* /Blocchi */

#clienti-dropbox {
    padding-top: 100px;
    padding-bottom: 100px;
}

#clienti-dropbox h1 {
    width: 500px;
    padding-bottom: 20px;
}

#clienti-dropbox a {
    color: hsl(218deg 100% 50%);
}

/* Blocchi loghi */
#container-blocchi-loghi {
    margin-left: -15%;
    float: left;
    width: 100vw;
}

#blocco-loghi-l {
    height: 400px;
    width: 30vw;
    float: left;
}

.colonna-blocchi-l {
    float: left;
    height: 50%;
    width: 50%;
}

.colonna-blocchi-r {
    float: right;
    height: 50%;
    width: 50%;
}

#a {
    background-color: hsl(114deg 40% 72%);
    border: solid 10px hsl(112deg 40% 86%);
}

#a img {
    height: 100px;
    width: 150px;
    margin: 50px 50px 50px 40px;
    filter: invert(1);
}

#b {
    background-color: hsl(336deg 85% 21%);
}

#b img {
    height: 100px;
    width: 150px;
    margin: 50px;
    filter: invert(1);
}

#c {
    background-color: hsl(197deg 100% 40%);
}

#c img {
    height: 50px;
    width: 150px;
    margin: 70px 50px 50px 50px;
    filter: invert(1);
}

#d {
    background-color: hsl(0deg 100% 55%);
}

#d img {
    height: 100px;
    width: 150px;
    margin: 50px;
    filter: invert(1);
}

#blocco-loghi-c {
    height: 400px;
    width: 40vw;
    float: left;
    background-color: hsl(0deg 0% 96%);
}

#blocco-loghi-c img {
    height: 100px;
    width: 150px;
    margin-left: 30px;
    border-bottom: solid 1px rgb(177, 177, 177);
}

#blocco-loghi-c div {
    margin-left: 30px;
    margin-top: 40px;
}

#blocco-loghi-r {
    height: 400px;
    width: 30vw;
    float: left;
}

#e {
    background-color: hsl(352deg 99% 42%);
}

#e img {
    height: 100px;
    width: 150px;
    margin: 50px;
    filter: invert(1);
}

#f {
    background-color: hsl(207deg 52% 81%);
}

#f img {
    height: 100px;
    width: 150px;
    margin: 50px;
    filter: invert(1);
}

#g {
    background-color: hsl(229deg 80% 28%);
}

#g img {
    height: 100px;
    width: 150px;
    margin: 50px;
    filter: invert(1);
}

#h {
    background-color: hsl(49deg 100% 59%);
}

#h img {
    height: 100px;
    width: 150px;
    margin: 50px;
    filter: invert(1);
}
/* /Blocchi loghi */

#prova-gratuita {
    display: inline-block;
    margin-left: -15%;
    height: 400px;
    width: 100vw;
    background-color: hsl(207deg 52% 81%);
}

#prova-gratuita h1 {
    padding-top: 10%;
    padding-left: 15%;
    width: 50%;
    display: inline-block;
    color: hsl(337deg 81% 21%);
}

#prova-gratuita button {
    margin-left: 20%;
    background-color: white;
    border: none;
    padding: 10px 50px 10px 50px;
    cursor: pointer;
}

/* Domande frequenti */
#domande-frequenti h1 {
    margin-top: 100px;
    margin-bottom: 30px;
}

#domande-frequenti h3 {
    display: inline-block;
    width: 70%;
    border-top: solid 1px hsl(240deg 3% 88%);
    padding-top: 30px;
    padding-bottom: 30px;;
}

#domande-frequenti #ultima {
    border-bottom: solid 1px hsl(240deg 3% 88%);
}

#domande-frequenti i {
    padding-left: 35%;
    cursor: pointer;
}
/* /Domande frequenti */

/* Footer */
footer {
    margin-top: 100px;
    display: inline-block;
    height: 50vh;
    width: 100vw;
    background-color: black;
}

#container-footer {
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
}

.colonne-footer {
    margin-top: 100px;
    width: calc(5 / 80vw);
    padding-left: 5%;
    display: inline-block;
    color: white;
    list-style-type: none;
}

.colonne-footer h3 {
    margin-bottom: 15px;
}

.colonne-footer li {
    list-style-type: none;
}

#lingua {
    width: 10vw;
    color: grey;
    cursor: pointer;
    border-top: solid 1px gray;
    padding-top: 10px;
    margin-top: 100px;
    margin-left: 4vw;
}
/* /Footer */